---
title: "1-01 Goals"
group: slides
layout: slide 
---

%p Enough knowledge to deploy basic web apps (in Ruby)

%ul
  %li Recap how web apps work
  %li 
    %p Overview of Sinatra
    %ul 
      %li Deploy an app
  %li
    %p Overview of Rails
    %ul 
      %li Deploy an app
  
