---
title: "1-01 Goals"
group: slides
layout: slide 
---

%h3 Enough knowledge to deploy basic web apps (in Ruby)

%ul
  %li Recap how web apps work
  %li 
    %p 
      Overview of Sinatra –
      %em 30mins
    %ul 
      %li Deploy an app
  %li
    %p 
      Overview of Rails –
      %em 90mins
    %ul 
      %li Deploy an app
  
