---
title: "2-0 Web browsers"
group: slides
layout: slide 
---

%p Web is bunch of computers/devices on the Internet that a browser can connect to

%ul
  %li 
    %p 
      Browsers
      %code get
      data from a web server
    %ul
      %li e.g pages, images, PDF files
  %li
    %p 
      Browsers 
      %code post 
      new data to a web server
    %ul
      %li e.g. new user account, new photo, new YouTube video
  %li
    %p 
      Browsers
      %code put
      updated data back on to a web server
    %ul
      %li e.g update photo caption, change user settings
  %li 
    %p 
      Browsers
      %code delete
      data on a web server
    %ul
      %li e.g. cancel flight, delete photo