---
title: "2-1 Web apps"
group: slides
layout: slide 
---

%h3 Web apps process browser requests
%ul
  %li 
    They respond to 
    %code get
    ,
    %code post
    ,
    %code put
    and 
    %code delete 
    requests made by browsers
  %li Track which user is who
  %li Behind the scenes they often process data

%h3 Web apps respond with 2 main types of data
%ol
  %li
    %p Dynamic data – changes per user or over time
    %ul 
      %li html – the content, e.g. the actual text + images shown on a page
      %li some images/files – e.g. profile photos, personal photo album
  %li 
    %p Static data – same for each user &amp; stays same over time
    %ul 
      %li some images/files – e.g. logos, backgrounds, icons 
      %li stylesheets – .css files, they control look and feel 
      %li javascript – animation, background + data processing
        
    
        

