---
title: "2-01 Web apps"
group: slides
layout: slide 
---

%p Web servers respond to browser requests
%ul
  %li 
    Sinatra + Rails simply respond to 
    %code get
    ,
    %code post
    ,
    %code put
    and 
    %code delete 
    requests

%p Web servers respond with 2 main types of data
%ol
  %li 
    %p Static data – same for each user, stays same over time
    %ul 
      %li images – those used in the design of the site
      %li stylesheets – .css files, they control look and feel 
      %li javascript – animation, background + data processing
      %li downloadable files, e.g. PDFs 
  %li
    %p Dynamic data – changes per user or over time
    %ul 
      %li html
      %li images – e.g. profile photos, person photo album
        
    
        

