---
title: "2-2 Web apps cont..."
group: slides
layout: slide 
---

%h3 So quick recap about web apps
%ul
  %li Respond to multitude of different types of requests
  %li Track users
  %li Process data
  %li Serve up lot different types of data back to a connecting browser
%h3 Sounds pretty hard
%h3 
  %em Web app frameworks to the rescue! 
