---
title: "2-3 Web app frameworks"
group: slides
layout: slide 
---

%h3 Web app frameworks – where the shizz is at

%ol
  %li
    %p Rails + Sinatra
    %ul
      %li Common tasks already coded
      %li Provide helper methods for the custom bits
  %li
    %p Rails
    %ul
      %li Database helpers
      %li Structure for your code
      %li Structure for 3rd party developers, e.g. extensions
      %li Testing
      %li Caching
