---
title: "3-0 Magic in a Virtual Box"
group: slides
layout: slide 
---

%h3 Keyboard shortcuts
%dl
  %dt
    %code Ctrl-C
  %dd Copy
  %dt
    %code Ctrl-Shift-V
  %dd Paste
  %dt
    %code Ctrl-Shift-T
  %dd Open new tab (e.g. in Terminal or a browser)

%h3 Command line
%dl
  %dt
    %code ls
  %dd list files/folders in current directory
  %dt
    %code ls -a
  %dd list all files/folders in current directory (e.g. includes hidden)
  %dt
    %code 
      cd 
      %em&= "<directory>"
  %dd 
    change to the 
    &= "<directory>"
  %dt
    %code cd ~ 
  %dd go to home directory
  %dt
    %code cd ~/projects 
  %dd go to projects directory
  %dt
    %code cd .. 
  %dd go to parent directory
  %dt
    %code sublime . 
  %dd open up sublime editor in current directory

%h4 Git
%dl
  %dt
    %code git init 
  %dd create new git repository in current directory
  %dt
    %code git add . 
  %dd Prepare any new or changed files for committing to git 
  %dt
    %code 
      git commit -m "some message"
  %dd Commit changes into git
  
  
%h4 Sinatra
%dl
  %dt
    %code 
      ruby 
      %em my_app.rb
  %dd 
    run app – defaults to
    %code localhost:4567


%h4 Rails
%dl
  %dt
    %code 
      rails new  
      %em&= "<app_name>"
  %dd 
    create a rails app with name 
    %em&= "<app_name>"
  %dt
    %code 
      rails s  
  %dd 
    spin up rails server – default to
    %code localhost:3000
  %dt
    %code 
      rails c  
  %dd 
    opens up ruby console with app loaded








