---
title: "3-2 Full example"
group: slides
layout: slide 
---

%h3 
  %em Love isn't enough, I want more!
  
%p Let's see something more fully featured in Sinatra

%p 
  Go to the
  %code projects
  directory and checkout a proper sinatra example  
  
:plain
  <pre>cd ~/projects
  git clone git://github.com/matholroyd/rwat-sinatra.git
  cd rwat-sinatra
  </pre>

%p Run the sinatra app locally
:plain
  <pre>ruby example-full.rb</pre>

%p 
  Open up a browser and navigate to 
  %code localhost:4567