---
title: "4-0 Sinatra in 2mins"
group: slides
layout: slide 
---

%h3 Create 3 files in new directory
%p 
  %code start.rb
  – where you write the sinatra code
:plain
  <pre>require 'rubygems'
  require 'sinatra'

  get '/' do
    "This site is a testament to my love for Mat"
  end
  </pre>
   
%p 
  %code Gemfile
  – needed by Heroku

:plain
  <pre>source "http://rubygems.org"
  
  gem 'sinatra'
  </pre>
  
%p 
  %code config.ru
  – needed by Heroku
   
:plain
  <pre>require './start'
  run Sinatra::Application
  </pre>
