---
title: "4-3 Sinatra assumptions"
group: slides
layout: slide 
---

%h3 Built in defaults/helpers
%ul 
  %li 
    Assumes views are under
    %code /views
  %li 
    Assumes static assets are under
    %code /public
  %li 
    Layout file is called 
    %code /layout.erb
    (if using erb)
  %li 
    Instance variables like
    %code @name 
    passed up to view
  
    
    
