---
title: "5-0 Ruby on Rails"
group: slides
layout: slide 
---

%h3 Remember Rails vs Sinatra?

%ol
  %li
    %p Rails + Sinatra
    %ul
      %li Common tasks already coded
      %li Provide helper methods for the custom bits
  %li
    %p Rails
    %ul
      %li Structure for your code
      %li Structure for 3rd party developers, e.g. extensions
      %li Database helpers
      %li Testing
      %li Caching

