---
title: "5-2 Rails structure"
group: slides
layout: slide 
---

%ul
  %li 
    %p app
    %ul
      %li 
        %p assets
        %ul
          %li images
          %li javascript
          %li stylesheets
      %li controllers
      %li helpers
      %li mailers
      %li models
      %li views
  %li config
  %li db
  %li lib
  %li log
  %li public
  %li script
  %li test
  %li tmp
  %li vendor