---
title: "5-3 Wooho, Rails 3"
group: slides
layout: slide 
---

%h3 Rails 3
%ul 
  %li New routing
  %li Mailers now look like controllers
  %li ActiveRecord calls chainable
  %li Bundler built in
  %li 
    %code validates 
    method has useful options
  %li 
    %code rails
    commands instead of 
    %code script/something
    

%h3 Rails 3.1
%ul 
  %li jQuery by default
  %li
    %p Asset pipeline - makes easy to generate/process javascript/stylesheets on the fly
    %p Industry (slowing) moving towards fat clients

%h3 Rails 3.2
%ul 
  %li Development speed up - only changed code reloaded
  %li Logging displays asset pipeline info (meaning loggings sucks)

