---
title: "5-5 Sinatra app in Rails"
group: slides
layout: slide 
---

%p 2 page app displays persons name + update it with a form
%ul 
  %li Look up info about sessions on the Sinatra website
  %li Test manually setting session info
  %li Display session info on first page
  %li Add a form with single text box as 2nd page
  %li Add route to accept posted form
