---
title: "5-7 and..."
group: slides
layout: slide 
---

%p
  Make directories
  %code /app/views/home
  and
  %code /app/views/name

%p
  File
  %code /app/views/home/index.html.erb
  
:plain
  <pre>
  </pre>

%p
  File
  %code /app/views/name/edit.html.erb

:plain
  <pre>
  </pre>

