---
title: "7-0 Where to next?"
group: slides
layout: slide 
---

%h3 Give generators a try
%pre
  :plain
    rails g 
    rails g resource    
    rails g resource Post title:string body:text draft:boolean
    
%h3 HTML and the box model
%h3 SCSS?
    
    