---
---

$line: 18px;

#nav {
  margin-bottom: $line;
  label {
    margin-right: 5px;
  }
  ul {
    display:inline;
    margin: 0;
    padding: 0;
    list-style-type:none;
    li {
      display:inline;
      margin-right: 10px;
    }
  }
}

#footer {
  color: #888;
  text-align:center;
}


code, pre {
  background-color: #ddd;
}
code {
  padding: 0 2px;
}